In [134]:
library(tidyverse)
library(dplyr)
data("starwars", package = "dplyr")

# Q1 — Dataset Inspection and Missing Values (5 points)
#glimpse(starwars)
# observations: 87
# variables: 14

# Missing Values
starwars %>%
    select(height, mass, homeworld) %>%
    summarize(across(everything(), ~ sum(is.na(.))))

# The missing values for height are 6, for mass 28, and for homeworld 10.

# Q2 — Create a Wide Summary Table (pivot_wider) (7 points)
data_wide <- starwars %>%
    filter(!is.na(species)) %>% # Filter the dataset to include only characters with non-missing species.
    group_by(species, gender) %>% # Group the data by species and gender.
    summarize(mean_height = mean(height, na.rm = TRUE), .groups = "drop") %>%
    pivot_wider(names_from = gender, values_from = mean_height)# Use pivot_wider() so that: rows represent species, columns represent gender, values are mean height

data_wide
# Q3 — Convert Wide Table Back to Long Format (pivot_longer) (6 points)
data_long <- data_wide %>%
    pivot_longer(
        cols = c(feminine, masculine),
        names_to = 'gender',
        values_to = 'mean_height'
    ) %>%
    drop_na
data_long

# Q4 — Create New Variables and Handle Missing Data (6 points)
data_long_mutated <- starwars %>%
    mutate(bmi = (mass/(height/100)^2)) %>%
    mutate(height_category =
           case_when(
               height < 170 ~ "short",
               height  >= 190 ~ "tall",
               TRUE ~ "average"
           )
        
    ) %>% 
    mutate(homeworld, homeworld = replace_na(homeworld,'Unknown')) %>%
    glimpse()


# Q5 — Unnesting and Interpretation (6 points)

starwars %>%
    select(name, films) %>%
    unnest(films) %>%
    count(name, sort=TRUE) %>%
    head(8)

  height mass homeworld
1 6      28   10

   species        masculine feminine
1  Aleena          79.0000        NA
2  Besalisk       198.0000        NA
3  Cerean         198.0000        NA
4  Chagrian       196.0000        NA
5  Clawdite             NA  168.0000
6  Droid          140.0000   96.0000
7  Dug            112.0000        NA
8  Ewok            88.0000        NA
9  Geonosian      183.0000        NA
10 Gungan         208.6667        NA
11 Human          182.3913  163.5714
12 Hutt           175.0000        NA
13 Iktotchi       188.0000        NA
14 Kaleesh        216.0000        NA
15 Kaminoan       229.0000  213.0000
16 Kel Dor        188.0000        NA
17 Mirialan             NA  168.0000
18 Mon Calamari   180.0000        NA
19 Muun           191.0000        NA
20 Nautolan       196.0000        NA
21 Neimodian      191.0000        NA
22 Pau'an         206.0000        NA
23 Quermian       264.0000        NA
24 Rodian         173.0000        NA
25 Skakoan        193.0000        NA
26 Sullustan      160.0000        NA
27 Tholothian           NA  184.0000
28 Togruta              NA  178.0000
29 Toong          163.0000        NA
30 Toydarian      137.0000        NA
31 Trandoshan     190.0000        NA
32 Twi'lek        180.0000  178.0000
33 Vulptereen      94.0000        NA
34 Wookiee        231.0000        NA
35 Xexto          122.0000        NA
36 Yoda's species  66.0000        NA
37 Zabrak         173.0000        NA

   species        gender    mean_height
1  Aleena         masculine  79.0000
2  Besalisk       masculine 198.0000
3  Cerean         masculine 198.0000
4  Chagrian       masculine 196.0000
5  Clawdite       feminine  168.0000
6  Droid          feminine   96.0000
7  Droid          masculine 140.0000
8  Dug            masculine 112.0000
9  Ewok           masculine  88.0000
10 Geonosian      masculine 183.0000
11 Gungan         masculine 208.6667
12 Human          feminine  163.5714
13 Human          masculine 182.3913
14 Hutt           masculine 175.0000
15 Iktotchi       masculine 188.0000
16 Kaleesh        masculine 216.0000
17 Kaminoan       feminine  213.0000
18 Kaminoan       masculine 229.0000
19 Kel Dor        masculine 188.0000
20 Mirialan       feminine  168.0000
21 Mon Calamari   masculine 180.0000
22 Muun           masculine 191.0000
23 Nautolan       masculine 196.0000
24 Neimodian      masculine 191.0000
25 Pau'an         masculine 206.0000
26 Quermian       masculine 264.0000
27 Rodian         masculine 173.0000
28 Skakoan        masculine 193.0000
29 Sullustan      masculine 160.0000
30 Tholothian     feminine  184.0000
31 Togruta        feminine  178.0000
32 Toong          masculine 163.0000
33 Toydarian      masculine 137.0000
34 Trandoshan     masculine 190.0000
35 Twi'lek        feminine  178.0000
36 Twi'lek        masculine 180.0000
37 Vulptereen     masculine  94.0000
38 Wookiee        masculine 231.0000
39 Xexto          masculine 122.0000
40 Yoda's species masculine  66.0000
41 Zabrak         masculine 173.0000

Rows: 87
Columns: 16
$ name            <chr> "Luke Skywalker", "C-3PO", "R2-D2", "Darth Vader", "Le…
$ height          <int> 172, 167, 96, 202, 150, 178, 165, 97, 183, 182, 188, 1…
$ mass            <dbl> 77.0, 75.0, 32.0, 136.0, 49.0, 120.0, 75.0, 32.0, 84.0…
$ hair_color      <chr> "blond", NA, NA, "none", "brown", "brown, grey", "brow…
$ skin_color      <chr> "fair", "gold", "white, blue", "white", "light", "ligh…
$ eye_color       <chr> "blue", "yellow", "red", "yellow", "brown", "blue", "b…
$ birth_year      <dbl> 19.0, 112.0, 33.0, 41.9, 19.0, 52.0, 47.0, NA, 24.0, 5…
$ sex             <chr> "male", "none", "none", "male", "female", "male", "fem…
$ gender          <chr> "masculine", "masculine", "masculine", "masculine", "f…
$ homeworld       <chr> "Tatooine", "Tatooine", "Naboo", "Tatooine", "Alderaan…
$ species         <chr> "Human", "Droid", "Droid", "Human", "Human", "Human", …
$ films           <list> <"A New Hope", "The Empire Strikes Back", "Return of …
$ vehicles        <list> <"Snowspeeder", "Imperial Speeder Bike">, <>, <>, <>,…
$ starships       <list> <"X-wing", "Imperial shuttle">, <>, <>, "TIE Advanced…
$ bmi             <dbl> 26.02758, 26.89232, 34.72222, 33.33007, 21.77778, 37.8…
$ height_category <chr> "average", "short", "short", "tall", "short", "average…

  name           n
1 R2-D2          7
2 C-3PO          6
3 Obi-Wan Kenobi 6
4 Chewbacca      5
5 Leia Organa    5
6 Luke Skywalker 5
7 Palpatine      5
8 Yoda           5

#### In 2–3 sentences, explain why this data must be converted to long format.
The films column in the dataset is a list-column, wherein multiple characters can appear in multiple films. We convert to long format and unnest to have each film appear separate and thus, easier to count and analyze.